.sidenav-container {
  height: 100vh;
}
.sidenav {
  width: 220px;
}
.content {
  padding: 16px;
  cursor: pointer;
}

::ng-deep mat-toolbar {
  background-color: #f5f5f5; // Helles, modernes Grau
  color: #333;               // Dunkler Text für Kontrast
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: dezenter Schatten
}

.custom-toolbar {
  background-color: #f5f5f5;
  color: #333;
  height: 128px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0 16px;
}

.toolbar-title {
  font-size: 4rem;
  font-weight: 500;

  @media (max-width: 900px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.4rem;
  }
}

/* Menü-Button immer links */
.custom-toolbar button {
  position: absolute;
  left: 8px;
}

/* Flex-Spacer für Logout-Rechtsausrichtung */
.spacer {
  flex: 1 1 auto;
}

/* Logout-Button an rechter Seite */
.custom-toolbar button[aria-label='Abmelden'] {
  position: static;
  margin-left: auto;
}