<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="sidenavMode"
    [opened]="isSidenavOpened"
    (openedChange)="onSidenavStateChange($event)"
    (backdropClick)="onBackdropClick()"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">Start</a>
      <a *ngIf="isAdmin" mat-list-item routerLink="/admin">Admin</a>

      <!-- Nur im Adminbereich UND für Admins -->
      <ng-container *ngIf="isAdmin && isInAdminArea()">
        <a mat-list-item routerLink="/admin/equipment">Equipmentverwaltung</a>
        <a mat-list-item routerLink="/admin/users">Benutzerverwaltung</a>
        <a mat-list-item routerLink="/admin/users/new">Neuer Benutzer</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content (click)="onContentClick()">
    <mat-toolbar class="custom-toolbar">
      <button
        mat-icon-button
        (click)="toggleSidebar()"
        [style.display]="!isSidenavOpened ? 'inline-flex' : 'none'"
        aria-label="Sidebar öffnen"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-title">Hüpfburgen Verwaltung</span>
      <span class="spacer"></span>

      <!-- Logout-Button -->
      <button mat-icon-button aria-label="Abmelden" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>