@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('assets/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('assets/fonts/atkinson/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('assets/fonts/atkinson/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('assets/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Atkinson Hyperlegible', sans-serif; }

.mat-typography,
.mat-button,
.mat-form-field,
.mat-toolbar,
.mat-card {
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
}
